*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(44, 39, 39);
}
.countainer{
    display: grid;
    grid-template-areas: 
    "side-bar1 header header"
    "side-bar1 main main"
    "side-bar1 footer footer";
    margin: 0;
    grid-template-rows: 4em 12fr;

}
#header{
    display: flex;
    align-items: center;
    grid-area: header;
    color: white;
    padding: 0   0;
    background:  rgb(44, 39, 39);
}
#main{
    background: url(aerial-view-green-forest.jpg);
    background-size: 100%;
    padding-left: 1em;
    padding-right: 10em;
    grid-area: main;
    color: white;
    height: 670px;
    display: flex;
    align-items: center;
}
#about{
    padding: 20px;
    grid-area: about;
}
#side-bar1{
    grid-area: side-bar1;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #e6bd59;
    text-align: center;
    display: flex;
    width: 2em;
}
#footer{
    background-color: rgb(44, 39, 39);
    color: white;
    grid-area: footer;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 10px solid black;
    /* border-top: 10px solid black; */
    
}






.nav_bar{
    display: flex;
    align-items: center;
}
.menu_list ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-top: 1em;
}
.logo{
    margin-left: 10em;
    margin-right: 30em;
}
li{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;

}
a {
    text-decoration: none;
    color: #e6bd59;
    margin-right: 3em;
    /* vertical-align: center; */
}
.main_bg{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: left;
    background: transparent;
    margin-left: 9em;
    margin-top: -6em;
}
.side_bar_item{
    display: flex;
    flex-direction: column;
    padding: 0 3px 0 0;
}
h1{
    margin-bottom: 30px;
    padding-top: 30px;
}
#footer p {
    margin: 0 auto;
}